<h1>Hello, world!</h1>
<div id="accordion" *ngFor="let pokemon of pokemonsArray">
  <div class="card">
    <div class="card-header" id="{{pokemon.entry_number}}" (click)="muestraid($event.currentTarget.id)">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#'+pokemon.pokemon_species.name"
                aria-expanded="true" [attr.aria-controls]="'#'+pokemon.pokemon_species.name">
          Number {{pokemon.entry_number}}: {{pokemon.pokemon_species.name.charAt(0).toUpperCase()}}{{pokemon.pokemon_species.name.slice(1)}}
        </button>
      </h5>
    </div>
    <div id="{{pokemon.pokemon_species.name}}" class="collapse"
         data-parent="#accordion">
      <div class="card-body">
        {{pokemon.pokemon_species.name.charAt(0).toUpperCase()}}{{pokemon.pokemon_species.name.slice(1)}}
      </div>
    </div>
  </div>
</div>
